section {
  background-image: url(../dZrvbz.jpg) !important;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cards {
  background-image: url(../pokedex.jpeg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding-bottom: -17px;

  margin-bottom: -17px;
}

.card::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../image001.jpg);
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s linear;
}
.card:hover::before {
  transform: translateX(18rem) rotateY(180deg);
  z-index: 14;
}

.card {
  border: 3px solid black;
  padding: 17px;
  background-color: #9b1220;
  position: relative;
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.2;
}

ul {
  padding: 0;
}

ul > li {
  list-style-type: none;
}

.cards > * {
  position: relative;
  z-index: 1;
}

.img-card {
  background-image: url(../original-42f52449520e8e7940c668566888d84f.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  border-radius: 30px;
}

/* ////////// */
/* STYLE SHOW CARD */
.show-bg {
  background-image: url(../592678.jpg);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.poke-card {
  width: 250px;
  height: 399px;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s ease;
}

.poke-card-body,
.back-card {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.poke-card-body {
  background: linear-gradient(to right, orange, red);
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.poke-card:hover {
  transform: rotateY(180deg);
}

.back-card {
  background: linear-gradient(to right, orange, red);
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: none;
}

.poke-card:hover .back-card {
  display: block;
}

.back-card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.poke-background {
  text-align: center;
  background: linear-gradient(to right, #6f5d0a, #510d0e);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.poke-img-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.poke-card-title {
  text-align: center;
  font-size: 15px;
}

.poke-card-group-text {
  background: linear-gradient(to right, orange, red);
  font-size: 10px;
}
